@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient-radial{
    background-image: radial-gradient(rgba(191, 196, 234, 0.1) 9%, transparent 9%); 
    background-position: 0% 0%; 
    background-size: 12vmin 12vmin;
    }
    .bg-glass{
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);
        background: rgba(10,10,10,.65);
        box-shadow: 0 8px 32px rgb(2,4,24);
        border-right: 2px solid rgba(2255, 255, 255, .09);
    };
    .offset {
        @apply md:grid md:grid-cols-12;
        flex-basis: unset;
      }
      
      .offset-1-4 .column:first-child { @apply md:col-span-4; }
      .offset-1-4 .column:last-child { @apply md:col-span-8; }
      .offset-4-1 .column:first-child { @apply md:col-span-8; }
      .offset-4-1 .column:last-child { @apply md:col-span-4; }
    
      .offset-1-3 .column:first-child,
      .offset-3-1 .column:last-child { @apply md:col-span-3; }
      .offset-3-1 .column:first-child,
      .offset-1-3 .column:last-child { @apply md:col-span-9; }
    
      .offset-6-6 .column:first-child,
      .offset-6-6 .column:last-child { @apply md:col-span-6; }
    
      .offset-5-7 .column:first-child,
      .offset-7-5 .column:last-child { @apply md:col-span-5; }
      .offset-7-5 .column:first-child,
      .offset-5-7 .column:last-child { @apply md:col-span-7; }
    
      .offset-4-8 .column:first-child,
      .offset-8-4 .column:last-child { @apply md:col-span-4; }
      .offset-8-4 .column:first-child,
      .offset-4-8 .column:last-child { @apply md:col-span-8; }
    
      .offset-3-9 .column:first-child,
      .offset-9-3 .column:last-child { @apply md:col-span-3; }
      .offset-9-3 .column:first-child,
      .offset-3-9 .column:last-child { @apply md:col-span-9; }